
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .body{
    margin: 0;
    padding: 0;
    max-width: 1024px;
   }   
 }
@media screen and (min-width: 320px) and (max-width: 500px) {
 .body{
  margin: 0;
  padding: 0;
  max-width: 500px;
 }
}



/* .navbar{
    height: 10vh;
} */
.logo,
.content {
  color: #fafafa;
}

.nav {
  width: 100%;
  height: 10vh;
  background-color: #8b1717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}


.logo,
#hamburger {
  margin: 4%;
}

#hamburger {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
  display: flex;
  align-items: center;
}

#hamburger:hover {
  opacity: 1;
}

#hamburger div,
#hamburger div:after,
#hamburger div:before {
  background-color: #fafafa;
  border-radius: 10px;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
  transition: all 0.15s linear;
}

#hamburger div:before,
#hamburger div:after {
  content: "";
  position: absolute;
}

#hamburger div:before {
  transform: translateY(-200%);
}

#hamburger div:after {
  transform: translateY(200%);
}

#hamburger.open div {
  background: transparent;
}

#hamburger.open div:before {
  transform: rotate(45deg);
}

#hamburger.open div:after {
  transform: rotate(-45deg);
}

#overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: #1a1a1a;
  z-index: 2;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay.menu {
  transform: translateY(0%);
}

#overlay a {
  text-decoration: none;
  color: #fafafa;
  font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
  margin: 2%;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}

.hero{
  background-image: url('scattered-forcefields.svg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  }
   
  @media screen and (min-width: 768px) and (max-width: 1024px) {
     .hero{
      height: 70vh;
      /* display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center; */
     }
  }

  @media (min-width: 320px) and (max-width: 500px) {
     .hero{
      height: 80vh;
     }
   } 

  .meet-me{
    padding: 150px 5px 0px 200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
     .meet-me{
      padding: 5px 2px 2px 5px;
      height: 100vh;
      display: flex;
      flex-direction: column;
     }
}

@media (min-width: 320px) and (max-width: 500px) {
    .meet-me{
      padding: 5px 2px 2px 5px;
      height: 80vh;
      display: flex;
      flex-direction: column;

    }
 }

.text-area{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text-area{
     width:100%; 
     height: 60vh;
     padding: 0;
     justify-content:center;
     align-items: center;
     
   }
}

@media (min-width: 320px) and (max-width: 500px) {
   .text-area{
     width:100%; 
     height: 95vh;
     justify-content:center;
     align-items: center;
   }
 }


.hero-text-1{
    font-size:large;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-text-1{
    font-size:30px;
    font-size:large;
}
}

@media (min-width: 320px) and (max-width: 500px) {
  .hero-text-1{
    font-size:small;
    font-size:20px;
    padding-top: -20px;
}
 }
 

.hero-text-2{
    font-size:80px;
    font-family: 'Rowdies', cursive;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-text-2{
    font-size:70px;
    font-family: 'Rowdies', cursive;
    margin: 0;
}
}

@media (min-width: 320px) and (max-width: 500px) {
  .hero-text-2{
    font-size:35px;
    font-family: 'Rowdies', cursive;
    margin: 0;
  padding-top: 5px;
}
 }

.hero-text-3{
    font-size:40px;
    font-family: 'Rowdies', cursive;
    margin: 0;
    letter-spacing: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
.hero-text-3{
  font-size:40px;
  font-family: 'Rowdies', cursive;
  margin: 0;
  letter-spacing: 8px;
}
}

@media (min-width: 320px) and (max-width: 500px) {
.hero-text-3{
  font-size:20px;
  font-family: 'Rowdies', cursive;
  margin: 0;
  letter-spacing: 3px;
  padding-top: 10px;
}
}



.intro{
  width: 50%;
  height: 15%;
  margin-top: 5px;
 
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    
.intro{
  width: 60%;
  height: 20%;
  margin-top: 5px;
  padding-top: 50px;
 
} 
}

@media (min-width: 320px) and (max-width: 500px) {
        
.intro{
  width: 90%;
  height: 30%;
  padding-top: 20px;

  /* margin-top: 5px; */
  /* padding-top: 50px; */
 
} 
 }


/* p {
  color:#fafafa;
  margin:0;
  padding: 0;
} */

button {
  background:transparent;
  margin: 5px;
  /* background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9); */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border-color: black;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  width: 15%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cfd56;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.about-me{
  height: 90vh;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-me{
    height: 90vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
  }
  
}

@media (min-width: 320px) and (max-width: 500px) {
  .about-me{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
  }
  
 }

.separator{
  display: flex;
  align-items: center;
}

.separator h2{
  padding: 0 0.5rem; 
}

.separator .line{
  flex: 1;
  height: 3px;
  background-color: #000;
}

.about-me-text{
  width: 25%;
  height: 70%;  
  line-height: 25px;
  padding-top: -10px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-me-text{
    width: 40%;
    height: 70%;  
    line-height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .about-me-text{
    width: 90%;
    height: 70%;  
    line-height: 17px;
    text-align: center;
  }
 }

.about-me-image-container{
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px 2px teal;
}

@media (min-width: 320px) and (max-width: 500px) {
  .about-me-image-container{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 2px teal;
  }
}

.about-me-image{
  width: 350px;
  height: 350px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
     
}

@media (min-width: 320px) and (max-width: 500px) {
  .about-me-image{
    width: 200px;
    height: 200px;
  }
 }

ul {
  padding-left: 0.5rem;
  list-style-type: none;
  text-align: start;    
  display: flex;
  height: 15%;
}

 ul li {
  padding-left: 1rem;
  background-image: url('Capture.PNG');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 80%;
  display: inline;
}  

.projects{
  border: 2px solid rgb(38, 0, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vH;
  background-color: #F5F5F5;
}

.project-heading{
  font-size: 40pt;
  font-weight: 500;
  color: #363638;
  text-align: center;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 99%;
}

.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
     
.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  /* max-width: 410px; */
  width: 45%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
}

.item:hover{
  cursor: pointer;
}

.item *{
  transition: all 0.35s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
}

.item:hover img {
  opacity: 0;
}

.text{
  width: 80%;
  height: 90%;
  position: absolute;
  top: -100px;
  left: 10%;
  color: #01A2AC;
}

.text h3{
  color: black;
}

.item:hover .text{
  top: 20%;
}

.item:hover .button{
  bottom: 20%;
}

.item .button{
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #01A2AC;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.button:hover{
  background-color: #01A2AC;
  color: #F5F5F5;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
@media (min-width: 320px) and (max-width: 500px) {
     
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
}

.modal-content {
  background-color: #f3eaea;
  margin: 5% auto;
  box-sizing: border-box;
  width: 700px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media (min-width: 320px) and (max-width: 500px) {
     
.modal-content {
  background-color: #f3eaea;
  margin: 5% auto;
  box-sizing: border-box;
  max-width: 490px;
  max-height: 50vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }
}

.scale{
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}
@media (min-width: 320px) and (max-width: 500px) {
     
.scale{
 width: 99%;
 height: 80%;
}
}


@keyframes scale{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

#img{
  width: 100%;
  height: 450px;
}

#details{
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

#details *{
  transition: all .3s;
}

#title{
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button{
  position: absolute;
  width: 30%;
  background-color: #01A2AC;
  color: #F5F5F5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

#details i{
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #01A2AC;
}

#details .button:hover,
i:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
}


.contact-me{
  display: flex;
  justify-content: center;
  height: 50vh;
  margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 500px) {
   .contact-me{
  height: 60vh;
   }
}
.form-container{
  padding-top: 10px;
  text-align: center;
  width: 40%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form-container{
    padding-top: 10px;
    text-align: center;
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .form-container{
    padding-top: 10px;
    text-align: center;
    width: 80%;
  }
 }


.form-feild{
  margin: 0 auto;
  max-width: 600px;
  padding: 5px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}

#message{
  height: 70px;
}

.input-feild .input{
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(116, 109, 109);
  padding: 10px;
  margin: 10px 20px;
  width: 90%;
  
}

.footer{
  background: transparent;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icons{
height: 50px;
width: 50px;
}
