
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,26,71,1) 77%);
}

/* .navbar{
    height: 10vh;
} */
.logo,
.content {
  color: #fafafa;
}

.nav {
  width: 100%;
  height: 10vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,26,71,1) 77%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}


.logo,
#hamburger {
  margin: 4%;
}

#hamburger {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
  display: flex;
  align-items: center;
}

#hamburger:hover {
  opacity: 1;
}

#hamburger div,
#hamburger div:after,
#hamburger div:before {
  background-color: #fafafa;
  border-radius: 10px;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
  transition: all 0.15s linear;
}

#hamburger div:before,
#hamburger div:after {
  content: "";
  position: absolute;
}

#hamburger div:before {
  transform: translateY(-200%);
}

#hamburger div:after {
  transform: translateY(200%);
}

#hamburger.open div {
  background: transparent;
}

#hamburger.open div:before {
  transform: rotate(45deg);
}

#hamburger.open div:after {
  transform: rotate(-45deg);
}

#overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: #1a1a1a;
  z-index: 2;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay.menu {
  transform: translateY(0%);
}

#overlay a {
  text-decoration: none;
  color: #fafafa;
  font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
  margin: 2%;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}

/* Hero section */

.hero{
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  }

  .meet-me{
    margin-top: 50px;
    margin: 10px 10px;
    height: 60%;
    width: 65rem;
    display: flex;
    flex-direction: row;
  }

.text-area{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .hero-image-container{
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
 }

 .hero-image{
   width: 400px;
   height: 300px;
 }
 

.hero-text-1{
    font-size:large;
}

.hero-text-2{
    font-size:3.5rem;
    font-family: 'Rowdies', cursive;
    margin: 0;
}

.hero-text-3{
    font-size:2rem;
    font-family: 'Rowdies', cursive;
    margin: 0;
    letter-spacing: 5px;
}


.intro{
  width: 70%;
  height: 20%;
  margin-top: 5px;
}

.icons{
  margin-top: 15px;
  width: 30px;
  padding-left: 5px;
  color: #fafafa;
}

button {
  margin-top: 20px;
  background:transparent;
  /* margin: 5px; */
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border-color: black;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  width: 25%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cfd56;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

hr{
  width: 80%;
}

/* hero media break */
@media screen and (max-width: 1000px) {

  .hero{
    height: 80vh;
    margin-top: 10px;
    }

  .meet-me{
    margin-top: 50px;
    margin-left: 80px;
    height: 70%;
    width: 35rem;
    display: flex;
    flex-direction: column;
  }

  .text-area{
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.hero-text-1{
  font-size:large;
}

.hero-text-2{
  font-size:3rem;
  margin-top: 20px;
}

.hero-text-3{
  font-size:2rem;
  margin-top: 20px;
  letter-spacing: 5px;
}

  .hero-image-container{
    visibility: hidden;
  }

  .intro{
    width: 70%;
    height: 20%;
    margin-top: 5px;
  }
  
  .icons{
    margin-top: 10px;
    width: 30px;
  }
  
  button{
    margin-top: 20px;
    width: 30%;
  }
}

/* hero media break tab*/

@media screen and (max-width: 768px) {
   
.hero{
  height: 70vh;
  margin-top: 10px;
  }

  .meet-me{
    margin-top: 10px;
    margin-left: 80px;
    height: 70%;
    width: 35rem;
    display: flex;
    flex-direction: column;
  }

.text-area{
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
}

 .hero-image-container{
   visibility: hidden;
 }

.hero-text-1{
    font-size:large;
}

.hero-text-2{
    font-size:3rem;
    margin-top: 10px;
}

.hero-text-3{
    font-size:2rem;
    margin-top: 10px;
    letter-spacing: 5px;
}

.intro{
  width: 70%;
  height: 20%;
  margin-top: 5px;
}

.icons{
  margin-top: 20px;
  width: 30px;
}

button{
  margin-top: 20px;
  width: 30%;
}
}

/* hero media break mobile*/
@media screen and (max-width: 480px) {
     
.hero{
  height: 90vh;
  max-width: 480px;
  margin-top: 20px;
  }

  .meet-me{
    height: 90%;
    width: 95%;
    margin-left: 0;
  }

.text-area{
    width: 99%;
    height: 99%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}

 .hero-image-container{
   visibility: hidden;
 }

.hero-text-1{
    font-size:large;
}

.hero-text-2{
    font-size:2.2rem;
    margin-top: 10px;
}

.hero-text-3{
   height: 15%;
    font-size: 1.2rem;
    margin-top: 15px;
    text-align: center;
}

.intro{
  width: 95%;
  height: 20%;
  margin-top: 0;
  text-align: center;
}

.icons{
  margin-top: 30px;
  width: 30px;
}

button{
  margin-top: 20px;
  width: 50%;
}
}

/* About Me section */
.about-me{
  height: 90vh;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
}

.about-me-content{
  width: 65rem;
  height: 80%;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;

}

.separator{
  display: flex;
  align-items: center;
}

.separator h2{
  padding: 0 0.5rem; 
}

.separator .line{
  flex: 1;
  height: 1px;
  background-color: #ffffff;
}

.about-me-text{
  width: 40%;
  height: 70%; 
  margin-top: -200px; 
  line-height: 25px;
}

.about-me-image-container{
  width: 350px;
  height: 350px;
  margin-left: 20px;
  box-shadow: 10px 10px 2px teal;
}

.about-me-image{
  width: 350px;
  height: 350px;
}

ul {
  padding-left: 0.5rem;
  list-style-type: none;
  text-align: start;    
  display: flex;
  height: 15%;
}

 ul li {
  padding-left: 1rem;
  background-image: url('Capture.PNG');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 80%;
  display: inline;
} 

/* About me tab */
@media screen and (max-width: 768px) {
  .about-me{
    height: 100vh;
  }

  .about-me-content{
    width: 90%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .about-me-text{
    width: 99%;
    height: 80%; 
    margin-top: 30px;
    line-height: 30px;
  }

  .proficiency{
    display: flex;
    flex-direction: column ;
    align-items: center;
  }

    
ul {
  padding-left: 0.5rem;
  list-style-type: none;
  text-align: start;    
  display: flex;
  height: 15%;
}

 ul li {
  padding-left: 1rem;
  background-image: url('Capture.PNG');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 90%;
  display: block;
  margin: 10px;
} 

  .about-me-image-container{
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
  }
  
  .about-me-image{
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 2px teal;
  }

  .about-me-heading{
    width:99%;
    display: flex;
    justify-content: center;
  }

  .separator{
    width: 250px;
    display: flex;
    align-items: center;
  }
 
  .separator .line{
    flex: 1;
    height: 1px;
    width: 20%;
    background-color: #ffffff;
  }
  
}

/* About me mobile */
@media screen and (max-width: 480px) {
  
.about-me{
  height: 160vh;
  max-width: 480px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.about-me-image-container{
  width: 350px;
  height: 350px;
  margin-left: 20px;
  box-shadow: 10px 10px 2px teal;
}

.about-me-image{
  width: 350px;
  height: 350px;
}


.about-me-content{
  height: 90%;
  width: 95%;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.about-me-text{
  width: 95%;
  height: 70%; 
  line-height: 25px;
}

.about-me-image-container{
  margin-top: 30px;
  width: 250px;
  height: 250px;
}

.about-me-image{
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px 2px teal;

}

}

/* Contact me */
.contact-me{
  display: flex;
  justify-content: center;
  height: 50vh;
  margin-top: 10px;
}

.form-container{
  padding-top: 10px;
  text-align: center;
  width: 40%;
}


.form-feild{
  margin: 0 auto;
  max-width: 600px;
  padding: 5px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}

#message{
  height: 70px;
}

.input-feild .input{
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(116, 109, 109);
  padding: 10px;
  margin: 10px 20px;
  width: 90%;
  
}

.footer{
  background: transparent;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-icons{
height: 50px;
width: 50px;
}

/* contact me tab */
@media screen and (max-width: 768px) {
  .contact-me{
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 10px;
  }
  
  .form-container{
    padding-top: 10px;
    text-align: center;
    width: 60%;
  }
  
  
  .form-feild{
    margin: 0 auto;
    max-width: 600px;
    padding: 5px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
  }

  .footer{
    background: transparent;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* contact me mobile */
@media screen and (max-width: 480px) {
  .contact-me{
    display: flex;
    justify-content: center;
    height: 60vh;
    margin-top: 10px;
  }
  
  .form-container{
    padding-top: 10px;
    text-align: center;
    width: 70%;
  }

  .footer-icons{
    height: 40px;
    width: 40px;
    }
}
